*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
.idea/
FirebaseFunctions/functions/node_modules/
FirebaseFunctions/.vs/
AndroidAPP/fastscroll/build/
